/* MP Login page styles */

// get MP Global Variables & Helpers
@import "../../assets/scss/_variables.scss";
@import "../../assets/scss/_mp-mixins.scss";


//Authentication

.authWrapper{
    min-height: auto;
    position: relative;
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 992px) {
      min-height: 100vh;
     }
    .authBox{
        max-width: 400px;
        width: 90%;
        margin: 10% 0;
        .logo{
            text-align: center;
        }
    }

    #recoverform{
        display: none;
    }
}

@media(max-width:992px) {
    .authWrapper{
      min-height: auto;

    }
}


.authWrapper .authBox .logo, .authWrapper .authBox .logo span .rounded-circle{margin-bottom: 1em;}
