// Styles for User Menu
// get MP Global Variables & Helpers
@import "../../../assets/scss/_variables.scss";
@import "../../../assets/scss/_mp-mixins.scss";

/*******************

@import 'notify';
 General Topbar
*******************/

.topbar {
    position: fixed;
    width: 100%;
    z-index: 50;
    transition: $transitions;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
    background: $topbar;
    height: $topbar-height;
    .navbar-collapse {
        padding: 0px 10px 0 0;
    }
    .topNavbar{
        min-height: $topbar-height;
        padding: 0px;
        .dropdown-toggle::after {
            display: none;
        }
        .navbarHeader {
            line-height: $topbar-navlink-height;
            .navbar-brand {
                display: flex;
                align-items: center;
                margin: 0px;
                margin-bottom: 1em;
                padding: $topbar-navbrand-padding;
                justify-content: space-between;
                .dark-logo {
                    display: none;
                }
                .logo-icon{
                    margin-right: 5px;
                }
                .sidebartoggler {
                    color: $mp-white;
                }
            }
        }
        .navbar-nav>.nav-item>.nav-link {
           padding: $topbar-navlink-padding;
           font-size: $topbar-navlink-font-size;
           line-height: $topbar-navlink-height;
           height:$topbar-navlink-height;
           .noti {
                position: absolute;
                top: 13px;
                left: 28px;
                font-size: 60%;
           }
        }
        .navbar-nav>.nav-item{
            transition: 0.2s ease-in;
            &:hover{
                background: $transparent-dark-bg;
            }
        }
    }
    .user-dd, .mailbox {
        min-width: 280px;
    }
    .nav-toggler, .topbartoggler{
        color: $mp-mid-grey;
        padding: 0 15px;
    }
}

.navBarContainer{
  padding: $topbar-padding;
  margin-left: 250px;
  @media (min-width: 768px){
      margin-left: 33.33333%;
    }
  @media (min-width: 992px){
    margin-left: 16.66667%;
    }

  }

.search-box {
    .app-search {
        z-index: 110;
        width: 100%;
        top: -1px;
        @include box-shadow($shadow, false);
        display: none;
        left: 0px;
        &.show-search {
            display: block;
        }
        .form-control {
            padding: 23px 40px 20px 23px;
            @extend %square;
            transition: $transitions;
            &:focus {
                border-color: transparent;
            }
        }
        .srh-btn {
            position: absolute;
            top: 23px;
            cursor: pointer;
            right: 20px;
        }
    }
}
/******** notification icon *************/

.notif-icon{
    margin-right: $base-scale-mp;
  }
  // a circle to indicate notifications, position for bell.
  .notif-dot{
    position: relative;
    top: -3em;
    left: 0.50em;
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid white;
    background: red;
    width: 10px;
    height: 10px;
  }
  // when is a new message - no read.
  .notif-dot.new-notif{
    background: $mp-light-green;
    }
    //when the message has already been viewed.
    .notif-dot.read-notif{
      background: $mp-light-grey;
      }

/*******************
Megamenu
******************/
.topbar {
    .mega-dropdown {
        position: static;
        .dropdown-menu {
            padding: 30px;
            @extend %square;
            width: 100%;
            max-height: 480px;
            overflow: auto;
        }
    }
}
/*******************
Designed dropdown
******************/
.topbar {
    .dropdown-menu{
        padding-top: 0px;
        border: 0px;
        box-shadow:1px 1px 15px rgba(0, 0, 0, 0.1);
        .with-arrow{
            position: absolute;
            height: 10px;
            overflow: hidden;
            width: 40px;
            top:-10px;
           >span {
            @extend %rotate45;
            background-color:$mp-white;
            width:15px;
            height:15px;
            top: 3px;
            left: 15px;
            position:absolute;
            content: "";
            -moz-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
            /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
           }
        }
        &.dropdown-menu-right {
            .with-arrow{
                right: 0px;
                >span {
                    right: 20px;
                    left:auto;
                }
            }
        }
    }
}
/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
    .topbar .topNavbar{
        .navbar-collapse.show, .navbar-collapse.collapsing {
            display: block;
            width: 100%;
            border-top: 1px solid $border-color;
        }
        .navbar-nav {
            flex-direction: row;
            .dropdown{
                position: static;
            }
        }
        .navbarHeader{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .dropdown-menu {
            position: absolute;
            width: 100%;
             .with-arrow{
                display: none;
            }
        }

    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .mailbox{
        .message-center{
            height: 110px !important;
        }
    }
    .user-dd{
        .profile-dis{
            height: 110px;
        }
    }
}
