.search-box .app-search .form-control, .topbar .mega-dropdown .dropdown-menu {
  border-radius: 0px;
}

.topbar .dropdown-menu .with-arrow > span {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

/*******************

@import 'notify';
 General Topbar
*******************/
.topbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: 0.2s ease-in;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
  background: #fff;
  height: 4em;
}

.topbar .navbar-collapse {
  padding: 0px 10px 0 0;
}

.topbar .topNavbar {
  min-height: 4em;
  padding: 0px;
}

.topbar .topNavbar .dropdown-toggle::after {
  display: none;
}

.topbar .topNavbar .navbarHeader {
  line-height: 4em;
}

.topbar .topNavbar .navbarHeader .navbar-brand {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 1em;
  padding: 0 10px;
  justify-content: space-between;
}

.topbar .topNavbar .navbarHeader .navbar-brand .dark-logo {
  display: none;
}

.topbar .topNavbar .navbarHeader .navbar-brand .logo-icon {
  margin-right: 5px;
}

.topbar .topNavbar .navbarHeader .navbar-brand .sidebartoggler {
  color: #fff;
}

.topbar .topNavbar .navbar-nav > .nav-item > .nav-link {
  padding: 0 15px;
  font-size: 0.875rem;
  line-height: 4em;
  height: 4em;
}

.topbar .topNavbar .navbar-nav > .nav-item > .nav-link .noti {
  position: absolute;
  top: 13px;
  left: 28px;
  font-size: 60%;
}

.topbar .topNavbar .navbar-nav > .nav-item {
  transition: 0.2s ease-in;
}

.topbar .topNavbar .navbar-nav > .nav-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.topbar .user-dd, .topbar .mailbox {
  min-width: 280px;
}

.topbar .nav-toggler, .topbar .topbartoggler {
  color: #aeaeae;
  padding: 0 15px;
}

.navBarContainer {
  padding: 0.75em 0 0;
  margin-left: 250px;
}

@media (min-width: 768px) {
  .navBarContainer {
    margin-left: 33.33333%;
  }
}

@media (min-width: 992px) {
  .navBarContainer {
    margin-left: 16.66667%;
  }
}

.search-box .app-search {
  z-index: 110;
  width: 100%;
  top: -1px;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  display: none;
  left: 0px;
}

.search-box .app-search.show-search {
  display: block;
}

.search-box .app-search .form-control {
  padding: 23px 40px 20px 23px;
  transition: 0.2s ease-in;
}

.search-box .app-search .form-control:focus {
  border-color: transparent;
}

.search-box .app-search .srh-btn {
  position: absolute;
  top: 23px;
  cursor: pointer;
  right: 20px;
}

/******** notification icon *************/
.notif-icon {
  margin-right: 1rem;
}

.notif-dot {
  position: relative;
  top: -3em;
  left: 0.50em;
  display: block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid white;
  background: red;
  width: 10px;
  height: 10px;
}

.notif-dot.new-notif {
  background: #5eb74d;
}

.notif-dot.read-notif {
  background: #b4b5b5;
}

/*******************
Megamenu
******************/
.topbar .mega-dropdown {
  position: static;
}

.topbar .mega-dropdown .dropdown-menu {
  padding: 30px;
  width: 100%;
  max-height: 480px;
  overflow: auto;
}

/*******************
Designed dropdown
******************/
.topbar .dropdown-menu {
  padding-top: 0px;
  border: 0px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.topbar .dropdown-menu .with-arrow {
  position: absolute;
  height: 10px;
  overflow: hidden;
  width: 40px;
  top: -10px;
}

.topbar .dropdown-menu .with-arrow > span {
  background-color: #fff;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 15px;
  position: absolute;
  content: "";
  -moz-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
}

.topbar .dropdown-menu.dropdown-menu-right .with-arrow {
  right: 0px;
}

.topbar .dropdown-menu.dropdown-menu-right .with-arrow > span {
  right: 20px;
  left: auto;
}

/*******************
Topbar Responsive
******************/
@media (max-width: 767px) {
  .topbar .topNavbar .navbar-collapse.show, .topbar .topNavbar .navbar-collapse.collapsing {
    display: block;
    width: 100%;
    border-top: 1px solid #b4b5b5;
  }
  .topbar .topNavbar .navbar-nav {
    flex-direction: row;
  }
  .topbar .topNavbar .navbar-nav .dropdown {
    position: static;
  }
  .topbar .topNavbar .navbarHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .topbar .topNavbar .dropdown-menu {
    position: absolute;
    width: 100%;
  }
  .topbar .topNavbar .dropdown-menu .with-arrow {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .mailbox .message-center {
    height: 110px !important;
  }
  .user-dd .profile-dis {
    height: 110px;
  }
}
