// Styles for Main Menu
// get MP Global Variables & Helpers
@import "../../../../assets/scss/_variables.scss";
@import "../../../../assets/scss/_mp-mixins.scss";

.MainNav{
  @include reset-ul;
  padding-top: .8em;
  background: transparent;
    .navItem {
        width: 100%;
        .sidebarLink {
            color: $mp-main-nav-color;
            padding: .8rem .5rem;;
            display: flex;
            white-space: nowrap;
            align-items: center;
            line-height: 1.25rem;
            opacity: 0.7;
            i {
                font-style: normal;
                width: 1.85rem;
                line-height: 1.25rem;
                font-size: 1rem;
                color: $mp-main-nav-color;
                display: inline-block;
                text-align: center;
            }
            &.active,
            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
        &.selected>.sidebarLink {
            color: $mp-white;
            i {
                color: $mp-white;
            }
        }

    }//end nav items
  }//end ul
  .MainNav >.navItem >.sidebarLink:hover, .MainNav >.navItem.selected >.sidebarLink{
    background: rgba(0, 0, 0, 0.1);
    border-left:3px solid $mp-light-grey;
    }
  .MainNav >.navItem >.sidebarLink{
    border-left: 3px solid transparent;
    }
