.MainNav {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  -webkit-padding-start: 0em;
  padding-top: .8em;
  background: transparent;
}

.MainNav .navItem {
  width: 100%;
}

.MainNav .navItem .sidebarLink {
  color: #e4e5e5;
  padding: .8rem .5rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  line-height: 1.25rem;
  opacity: 0.7;
}

.MainNav .navItem .sidebarLink i {
  font-style: normal;
  width: 1.85rem;
  line-height: 1.25rem;
  font-size: 1rem;
  color: #e4e5e5;
  display: inline-block;
  text-align: center;
}

.MainNav .navItem .sidebarLink.active, .MainNav .navItem .sidebarLink:hover {
  opacity: 1;
  text-decoration: none;
}

.MainNav .navItem.selected > .sidebarLink {
  color: #FFF;
}

.MainNav .navItem.selected > .sidebarLink i {
  color: #fff;
}

.MainNav > .navItem > .sidebarLink:hover, .MainNav > .navItem.selected > .sidebarLink {
  background: rgba(0, 0, 0, 0.1);
  border-left: 3px solid #b4b5b5;
}

.MainNav > .navItem > .sidebarLink {
  border-left: 3px solid transparent;
}
