// Styles for Main Menu
// get MP Global Variables & Helpers
@import "../../../assets/scss/_variables.scss";
@import "../../../assets/scss/_mp-mixins.scss";

// Cards displays -- Alerta, Eventos y notification use card displays
.cardMP,
.cardMPFooter.plainFooter {
    @include round-corners (0, $corner-radius-tp, $corner-radius-tp, 0);

  }

.cardMP {
    @include box-shadow(2px 2px 4px 0px rgba(94, 92, 94, 0.1));
    // min-height: 300px;
  }

.cardMPHeader {
    background: $mp-white;
    color: $mp-mid-grey;
    font-weight: $font-weight-bold;
    .navItem {
        font-weight: $font-weight-normal;
        .navLink {
            color: $mp-light-grey;
            padding: 0 .5rem 0 0;
            &:after {
                content: " | ";
                color: $mp-pale-grey;
                float: right;
                margin: 0 0 0 .5rem;
            }
        }
        .navLink.active,
        .show>.navLink {
            color: $mp-light-blue;
            background-color: transparent;
        }
        &:last-child {
            .navLink {
                &:after {
                    content: "";
                }
            }
        }
    }
}

.cardMPBody {
    // min-height: 210px;
    h4.cardMPTitle {
        font-size: $font-size-lg*1.2;
        font-weight: 500;
    }
    .btn-secondary {
        padding: .5rem 2rem;
    }
}

.cardMPFooter {
    font-size: $font-size-sm;
  }

// a plain footer for notifications - no background, no border
.cardMPFooter.plainFooter {
    background: $mp-white;
    border-top: none;
    text-align: center;
}
