// Styles for Main Menu
// get MP Global Variables & Helpers
@import "../../../assets/scss/_variables.scss";

.leftSidebar {
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: $left-sidebar-zindex;
  padding: 0;
  padding-top: 0.25rem;
  background: $mp-dark-blue;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in;
}
