.leftSidebar {
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 65;
  padding: 0;
  padding-top: 0.25rem;
  background: #233242;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in;
}
