.navBarHeader {
  margin-bottom: 2rem;
  padding: 1.25rem 0;
}

.navBarHeader:after {
  content: "";
  display: table;
  clear: both;
}

.logoText {
  width: 100%;
  padding-left: 1.25rem !important;
  text-align: center;
}

.togglerIcon {
  color: #fff;
  font-size: 14px;
}
